<div class="light-background-container">
	
	<div class="row">
		<div class="medium-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_qualificacio') %>
			</div>
		</div>
	</div>

	<% flash.each do |key, value| %>
    <div class="row">
    	<div class="medium-6 columns end">
		    <div data-alert class="alert-box success radius">
				  <%= value %>
				  <a href="#" class="close">&times;</a>
				</div>
			</div>
		</div>
  <% end %>

	
	<div class="row" data-equalizer>
		<div class="medium-6 columns">
			<div class="light-container" data-equalizer-watch>
				
					<h3 class="titol-deficiencies"><%= t('.opcio_xml') %></h3>
					<p><%= t('.explicacio_xml') %>
					<%= render 'form', qualificacio: @qualificacio %>
				
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="light-container" data-equalizer-watch>
				
				<h3 class="titol-deficiencies"><%= t('.opcio_manual') %></h3>
				<p><%= t('.explicacio_manual') %>
				<p>
					<%= link_to (new_deficiencia_path(edifici_id: @qualificacio.edifici_id)), remote: true, class: 'button' do %>
						<span class="suma">+</span> <%= t('.afegir_deficiencia') %>
					<% end %>
				</p>
				
			</div>
		</div>
	</div>

	
<div class="spacer"></div>

<div class="reveal" id="modal-deficiencia" data-reveal>
  <h3 id="modalTitle"><%= t('.deficiencia') %></h3>
  <div id="formulari-deficiencia" class="formulari-deficiencia">
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="row">
	<div class="medium-12 columns">
		<div class="light-container deficiencies-container">
			<div class="deficiencies-title">
				<h3 class="titol-deficiencies"><%= t('.titol_llistat_deficiencies') %></h3>
			</div>
			<div id="deficiencies">
				<%= render  :partial => '/deficiencies/llistat_deficiencies' %>
			</div>
			
			<%= link_to (new_deficiencia_path(edifici_id: @qualificacio.edifici_id)), remote: true do %>
				<span class="suma">+</span> <%= t('.afegir_deficiencia') %>
			<% end %>

		</div>
	</div>
</div>

</div>


