<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @qualificacio.edifici_id %>
</p>

<p>
  <strong>Xml:</strong>
  <%= @qualificacio.xml %>
</p>

<%= link_to 'Edit', edit_qualificacio_path(@qualificacio) %> |
<%= link_to 'Back', qualificacions_path %>
