<div class="row">
	<div class="medium-12 columns">
		<h1 class="titol-document">PROGRAMA DE REHABILITACIÓ</h1>
		<h2 class="subtitol-document">1. IDENTIFICACIÓ I DADES PRÈVIES</h2>
		<p>Identificació de l'edifici, del tècnic competent que supervisa el Programa, dades resum de l'IITE i del Certificat d'Aptitud</p>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<ul><li>EDIFICI</li></ul>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		
		<% if edifici.identificacio.bloc.blank?
		    adreca = edifici.identificacio.tipus_via.to_s + ' ' + edifici.identificacio.nom_via.to_s + ' ' + edifici.identificacio.numero_via.to_s
		  else
		    adreca = edifici.identificacio.tipus_via.to_s + ' ' + edifici.identificacio.nom_via.to_s + ' ' + edifici.identificacio.numero_via.to_s + ', bloc ' + edifici.identificacio.bloc.to_s
		  end
		%>

		Situació: <%= adreca %>

		<br/>
		Règim jurídic de la propietat: <%= edifici.identificacio.regim_juridic %>


		<div class="row">
			<div class="medium-8 columns">
				Titular: <%= edifici.identificacio.nom_titular %>
			</div>
			<div class="medium-4 columns">
				NIF: <%= edifici.identificacio.nif_titular %>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 columns">
				Representant: <%= edifici.identificacio.nom_representant %>
			</div>
			<div class="medium-4 columns">
				NIF: <%= edifici.identificacio.nif_representant %>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="medium-12 columns">
		<ul><li>PROGRAMA DE REHABILITACIÓ: Tècnic que supervisa el Programa</li></ul>
	</div>
</div>
<div class="dades-identificacio">
	<div class="row">
		<div class="medium-8 columns">
			Nom: <%= edifici.identificacio.nom_tecnic %>
		</div>
		<div class="medium-4 columns">
			NIF: <%= edifici.identificacio.nif_tecnic %>
		</div>
	</div>

	<div class="row">
		<div class="medium-4 columns">
			Titulació: <%= edifici.identificacio.titulacio_tecnic %>
		</div>
		<div class="medium-4 columns">
			Col·legi Professional: <%= edifici.identificacio.colegi_tecnic %>
		</div>
		<div class="medium-4 columns">
			núm. col·legiat: <%= edifici.identificacio.num_colegiat_tecnic %>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<ul><li>INFORME D'INSPECCIÓ TÈCNICA DE L'EDIFICI, IITE: Dades resum</li></ul>
	</div>
</div>
<div class="dades-identificacio">
	<div class="row">
		<div class="medium-8 columns">
			Codi informe ITE: <%= edifici.identificacio.codi_ite %>
		</div>
		<div class="medium-4 columns">
			Data d'emissió de l'IITE: <%= edifici.identificacio.data_emissio_ite %>
		</div>
	</div>

	<div class="row">
		<div class="medium-8 columns">
			Tècnic redactor: <%= edifici.identificacio.nom_redactor_ite %>
		</div>
		<div class="medium-4 columns">
			NIF: <%= edifici.identificacio.nif_redactor_ite %>
		</div>
	</div>

	<div class="row">
		<div class="medium-4 columns">
			Titulació: <%= edifici.identificacio.titulacio_redactor_ite %>
		</div>
		<div class="medium-4 columns">
			Col·legi Professional: <%= edifici.identificacio.colegi_redactor_ite %>
		</div>
		<div class="medium-4 columns">
			núm. col·legiat: <%= edifici.identificacio.num_colegiat_redactor_ite %>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<ul><li>CERTIFICAT D'APTITUD: Dades resum</li></ul>
	</div>
</div>
<div class="dades-identificacio">
	<div class="row">
		<div class="medium-12 columns">
			Nº d'expedient: <%= edifici.identificacio.num_expedient %>
		</div>
	</div>

	<div class="row">
		<div class="medium-8 columns">
			Qualificació Certificat d'Aptitud: <%= edifici.identificacio.qualificacio_certificat %>
		</div>
		<div class="medium-4 columns">
			Vigència límit del certificat d'aptitud: <%= edifici.identificacio.vigencia_limit_certificat %>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<table class="taula-dades unstriped">
		  <tr>
		    <th class="body-cell" colspan="2" rowspan="2">Localització</th>
		    <th class="body-cell" colspan="4">Qualificació deficiències</th>
		  </tr>
		  <tr>
		    <td class="body-cell" style="background-color: #D7505E;">Molt greus</td>
		    <td class="body-cell" style="background-color: #E79C67;">Greus</td>
		    <td class="body-cell" style="background-color: #FDF880;">Importants</td>
		    <td class="body-cell" style="background-color: #ADD476;">Lleus</td>
		  </tr>
		  <tr>
		    <td class="body-cell" rowspan="5">Estructura</td>
				<td class="body-cell">Fonamentació</td>
		    
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'fonamentacio', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'fonamentacio', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Estructura vertical</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_vertical', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_vertical', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Estructura horitzontal</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_horitzontal', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_horitzontal', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Estructura de coberta</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_coberta', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_coberta', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Estructura d'escales</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_escales', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'estructura_escales', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell" rowspan="7">Envolupant</td>
		    <td class="body-cell">Tancaments verticals: façanes, mitgeres i forats</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'tancaments_verticals', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'tancaments_verticals', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Acabats de façana</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'acabats_facana', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'acabats_facana', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Fusteria exterior i envidrament</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'fusteria_exterior', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'fusteria_exterior', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Elements adossats a façana</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'elements_adossats', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'elements_adossats', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Altres elements de façana</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'altres_facana', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'altres_facana', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Terrats i cobertes planes</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'terrats', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'terrats', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Cobertes inclinades</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'coberta_inclinada', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'coberta_inclinada', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell" rowspan="6">Instal·lacions</td>
		    <td class="body-cell">Instal·lació d'aigua</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'aigua', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'aigua', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Instal·lació d'electricitat</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'electricitat', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'electricitat', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Instal·lació de sanejament</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'sanejament', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'sanejament', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Instal·lació de gas</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'gas', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'gas', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Instal·lació d'ascensor</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'ascensor', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'ascensor', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Altres instal·lacions</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'altres_instalacions', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'altres_instalacions', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		  <tr>
		    <td class="body-cell">Altres</td>
		    <td class="body-cell">Altres subsistemes constructius</td>
		    <td class="body-cell"></td>
		    <td class="body-cell"></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'altres_subsistemes', qualificacio: 'I').exists? %>style="background-color: #FDF880;"<% end %>></td>
		    <td class="body-cell" <% if edifici.deficiencies.where(sistema: 'altres_subsistemes', qualificacio: 'LL').exists? %>style="background-color: #ADD476;"<% end %>></td>
		  </tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		Data de la primera verificació tècnica obligatòria que cal realitzar: <%= edifici.identificacio.data_primera_verificacio %>
		<br/>
		Data de recepció de l'informe ITE per part de la Propietat: <%= edifici.identificacio.data_recepcio_informe %>
		<br/>
		Termini màxim per aprovar el Programa de Rehabilitació: <%= edifici.identificacio.termini_aprovacio_programa %>
	</div>
</div>

<div class="salt-pagina"></div>

<div class="row">
	<div class="medium-12 columns">
		<h2 class="subtitol-document">2. PROPOSTES I FASES D'INTERVENCIÓ</h2>
		<p>Proposta de fases d’intervenció segons possibilitats econòmiques de la propietat i criteris de prioritat 
</p>
		<p>Intervencions previstes per corregir les deficiències</p>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<table>
			<tr>
				<th>Núm.</th>
				<th>Localització</th>
				<th>Descripció de la proposta d'intervenció</th>
				<th>Prioritat</th>
				<th>Cost estimat</th>
			</tr>
			<% import_total = 0 %>
			<% edifici.intervencions.each do |intervencio| %>
				<tr>
					<td></td>
					<td><%= intervencio.sistema %></td>
					<td><%= intervencio.descripcio %></td>
					<td></td>
					<% import_intervencio = intervencio.import_obres + intervencio.import_honoraris + intervencio.import_taxes + intervencio.import_altres %>
					<% import_total += import_intervencio %>
					<td><%= import_intervencio %> €</td>
				</tr>
			<% end %>
			
			<tr>
				<td colspan="4">Cost estimat total de les obres</td>
				<td><%= import_total %> €</td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<p>Fases d'intervenció segons prioritat</p>
		<div class="indivisible">
			<% edifici.fases.each do |fase| %>
				<% import_fase = 0 %>
				<%= fase.nom %>
				<% intervencions_fase = edifici.intervencions.where(fase_id: fase) %>
				<% import_obres = 0 %>
				<% import_honoraris = 0 %>
				<% import_taxes = 0 %>
				<% import_altres = 0 %>
				<% intervencions_fase.each do |intervencio| %>
					<% import_intervencio = intervencio.import_obres + intervencio.import_honoraris + intervencio.import_taxes + intervencio.import_altres %>
					<p><%= intervencio.descripcio %>: <%= import_intervencio %> €</p>
					<% import_obres += intervencio.import_obres %>
					<% import_honoraris += intervencio.import_honoraris %>
					<% import_taxes += intervencio.import_taxes %>
					<% import_altres += intervencio.import_altres %>
					<% import_fase += import_intervencio %>
				<% end %>
				<p>Cost aproximat i estimatiu de les OBRES: <%= import_obres %></p>
				<p>Cost aproximat i estimatiu dels HONORARIS PROFESSIONALS: <%= import_honoraris %></p>
				<p>Cost aproximat i estimatiu de les TAXES I AUTORITZACIONS ADMINISTRATIVES: <%= import_taxes %></p>
				<p>Cost aproximat i estimatiu d'ALTRES: <%= import_altres %></p>
				<p>Cost total FASE: <%= import_fase %></p>
				<p>Observacions: <%= fase.observacions %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<% mes_actual = Date.today.month %>
		<% tresoreria = edifici.planificacio.fons_propis %>
		<% primer_any = Date.today.year %>
		<% ultim_any = edifici.despeses.order(:data_any).last.data_any %>
		<% 
			for i in primer_any..ultim_any %>
			<table class="calendari">
			  <thead>
			    <tr>
			      <th><%= i %></th>
			      <th><%= t('.gener') %></th>
			      <th><%= t('.febrer') %></th>
			      <th><%= t('.març') %></th>
			      <th><%= t('.abril') %></th>
			      <th><%= t('.maig') %></th>
			      <th><%= t('.juny') %></th>
			      <th><%= t('.juliol') %></th>
			      <th><%= t('.agost') %></th>
			      <th><%= t('.setembre') %></th>
			      <th><%= t('.octubre') %></th>
			      <th><%= t('.novembre') %></th>
			      <th><%= t('.desembre') %></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th><%= t('.ingressos') %></th>
				    <% for j in 1..12 %>
				    	<% ingres = edifici.ingressos.where(data_mes: j, data_any: i) %>
				    	<% if ingres.exists? %>
				    		<td>
					    		<%= link_to edit_ingres_path(ingres.last, edifici_id: ingres.last.edifici_id), remote: true do %>
						    		<%= ingres.last.import %>
						  		<% end %>
					  		</td>
				    	<% else %>
				    		<td></td>
				    	<% end %>
				    <% end %>
		    	</tr>
		    	<tr>
		    		<th><%= t('.despeses') %></th>
		    		<% for j in 1..12 %>
				      <% if i == primer_any && j < mes_actual - 1 %>
				    		<td></td>
				    	<% elsif 
					      mes_despesa = edifici.despeses.where(data_mes: j, data_any: i)
					      if mes_despesa.exists? %>
					        <td><%= mes_despesa.last.import %></td>
					      <% else %>
					        <td></td>
					      <% end %>
					    <% end %>
				    <% end %>
		    	</tr>
		    	<tr>
		    		<th><%= t('.tresoreria') %></th>
		    		<% for j in 1..12 %>
			    		<% tresoreria = edifici.tresoreries.where(data_mes: j, data_any: i).last
			    		if tresoreria != nil %>
			    			<td>
			    				<% if tresoreria.import < 0 %>
			    					<span class="valor-negatiu"><%= tresoreria.import %></span>
			    				<% else %>
			    					<span class="valor-positiu"><%= tresoreria.import %></span>
			    				<% end %>
			    			</td>
			    		<% else %>
			    			<td></td>
			    		<% end %>
				    <% end %>
		    	</tr>
		    </tbody>
		  </table>
		<% end %>

	</div>
</div>


