<% @fases.each do |fase| %>
	<% 
		intervencions = Intervencio.where(fase_id: fase.id)
		import_fase = 0
		intervencions.each do |intervencio|
			import_total_intervencio = intervencio.import_obres.to_i + intervencio.import_honoraris.to_i + intervencio.import_taxes.to_i + intervencio.import_altres.to_i
			import_fase += import_total_intervencio
		end
	%>
	<h3 class="titol-fase">FASE <%= fase.posicio %></h3>
	<p class="opcions-fase"><%= t('.import') %>: <%= import_fase %> €</p>
	<div class="light-container container-despeses-fase">
		<div id="despeses">
      <%= render :partial => '/planificacions/llistat_despeses', locals: {fase_id: fase.id} %>
      <% import_despeses = 0 %>
      <% @despeses.where(fase_id: fase.id).each do |despesa| %>
      	<% import_despeses += despesa.import %>
      <% end %>
      <p>
      	Total: <%= import_despeses %> €.
      	<% 
      	diferencia_despesa_fase = import_fase - import_despeses
      	if diferencia_despesa_fase > 0 %>
      		Falten <%= diferencia_despesa_fase %> € per cobrir el cost de la fase. 
      	<% elsif diferencia_despesa_fase < 0
      		diners_sobrants = diferencia_despesa_fase * (-1) %>
      		Sobren <%= diners_sobrants %> €.
      	<% end %>
      </p>
    </div>
    <div class="spacer"></div>


    <%= link_to (new_despesa_path(edifici_id: fase.edifici_id, fase_id: fase.id)), remote: true do %>
      <span class="suma">+</span> <%= t('.afegir_despesa') %>
    <% end %>
	</div>
  <div class="spacer"></div>
<% end %>