<p id="notice"><%= notice %></p>

<h1>Planificacions</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Fons propis</th>
      <th>Subvencions solicitades</th>
      <th>Subvencions atorgades</th>
      <th>Import financar</th>
      <th>Forma financar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planificacions.each do |planificacio| %>
      <tr>
        <td><%= planificacio.edifici_id %></td>
        <td><%= planificacio.fons_propis %></td>
        <td><%= planificacio.subvencions_solicitades %></td>
        <td><%= planificacio.subvencions_atorgades %></td>
        <td><%= planificacio.import_financar %></td>
        <td><%= planificacio.forma_financar %></td>
        <td><%= link_to 'Show', planificacio %></td>
        <td><%= link_to 'Edit', edit_planificacio_path(planificacio) %></td>
        <td><%= link_to 'Destroy', planificacio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planificacio', new_planificacio_path %>
