<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @ingres.edifici_id %>
</p>

<p>
  <strong>Fase:</strong>
  <%= @ingres.fase_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @ingres.valor %>
</p>

<p>
  <strong>Data mes:</strong>
  <%= @ingres.data_mes %>
</p>

<p>
  <strong>Data any:</strong>
  <%= @ingres.data_any %>
</p>

<%= link_to 'Edit', edit_ingres_path(@ingres) %> |
<%= link_to 'Back', ingressos_path %>
