<%= simple_form_for(@fase) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id %>
    <%= f.input :nom_string %>
    <%= f.input :posicio_integer %>
    <%= f.input :observacions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
