<% if @intervencions.where(fase_id: fase_id).count > 0 %>
<table>
  <thead>
    <tr>
      <th><%= t('.descripcio') %></th>
      <th><%= t('.import_total') %></th>
    </tr>
  </thead>
  <tbody>
    <% @intervencions.where(fase_id: fase_id).each do |intervencio| %>
    <tr>
      <td><%= intervencio.descripcio %></td>
      <% import_total = intervencio.import_obres.to_i + intervencio.import_honoraris.to_i + intervencio.import_taxes.to_i + intervencio.import_altres.to_i %> 
      <td><%= import_total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><%= t('.assigna_intervencions') %></p>
<% end %>