<p id="notice"><%= notice %></p>

<h1>Fases</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Nom string</th>
      <th>Posicio integer</th>
      <th>Observacions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fases.each do |fase| %>
      <tr>
        <td><%= fase.edifici_id %></td>
        <td><%= fase.nom_string %></td>
        <td><%= fase.posicio_integer %></td>
        <td><%= fase.observacions %></td>
        <td><%= link_to 'Show', fase %></td>
        <td><%= link_to 'Edit', edit_fase_path(fase) %></td>
        <td><%= link_to 'Destroy', fase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fase', new_fase_path %>
