<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @fase.edifici_id %>
</p>

<p>
  <strong>Nom string:</strong>
  <%= @fase.nom_string %>
</p>

<p>
  <strong>Posicio integer:</strong>
  <%= @fase.posicio_integer %>
</p>

<p>
  <strong>Observacions:</strong>
  <%= @fase.observacions %>
</p>

<%= link_to 'Edit', edit_fase_path(@fase) %> |
<%= link_to 'Back', fases_path %>
