

<table>
  <thead>
    <tr>
      <th><%= t('.descripcio') %></th>
      <th><%= t('.observacions') %></th>
      <th width="150"><%= t('.gravetat') %></th>
      <th width="150"><%= t('.sistema') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @deficiencies.each do |deficiencia| %>
    <tr>
      <td>
      	<%= link_to edit_deficiencia_path(deficiencia), remote: true do %>
			    <div class="deficiencia-editar">
			    	<%= deficiencia.descripcio %>
			    </div>
			  <% end %>
			</td>
      <td><%= deficiencia.observacions %></td>
      <td><%= deficiencia.qualificacio %></td>
      <td><%= deficiencia.sistema %></td>
      <td>
      	<%= link_to deficiencia_path(deficiencia), remote: true, method: :delete,  data: { confirm: 'Segur que vols eliminar?' } do %>
				  <div class="deficiencia-eliminar button-right">
				  	<span class="icon-cancel">x</span>
				  </div>
				<% end %>
			</td>
    </tr>
    <% end %>
  </tbody>
</table>