<p id="notice"><%= notice %></p>

<h1>Deficiencies</h1>

<table>
  <thead>
    <tr>
      <th>Edifici</th>
      <th>Descripcio</th>
      <th>Observacions</th>
      <th>Sistema</th>
      <th>Qualificacio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deficiencies.each do |deficiencia| %>
      <tr>
        <td><%= deficiencia.edifici_id %></td>
        <td><%= deficiencia.descripcio %></td>
        <td><%= deficiencia.observacions %></td>
        <td><%= deficiencia.sistema %></td>
        <td><%= deficiencia.qualificacio %></td>
        <td><%= link_to 'Show', deficiencia %></td>
        <td><%= link_to 'Edit', edit_deficiencia_path(deficiencia) %></td>
        <td><%= link_to 'Destroy', deficiencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deficiencia', new_deficiencia_path %>
