<%= simple_form_for @identificacio do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="identificacio-title">
      <span class="title"><%= t('.dades_edifici') %></span>
    </div>
    <div class="row">
      <div class="medium-2 columns">
        <%= f.input :tipus_via, collection: ['Avinguda', 'Carrer', 'Carretera', 'Passeig', 'Passatge', 'Plaça', 'Rambla', 'Ronda'] %>
      </div>
      <div class="medium-6 columns">
        <%= f.input :nom_via %>
      </div>
      <div class="medium-2 columns">
        <%= f.input :numero_via %>
      </div>
      <div class="medium-2 columns">
        <%= f.input :bloc %>
      </div>
    </div>

    <div class="row">
      <div class="medium-2 columns">
        <%= f.input :codi_postal %>
      </div>
      <div class="medium-6 columns">
        <%= f.input :poblacio %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :provincia %>
      </div>
    </div>

    <div class="row">
      <fieldset class="medium-6 columns">
        <%= f.input :regim_juridic, 
          :collection => [[t('.propietat_horitzontal'), 'Propietat horitzontal'], [t('.propietat_vertical'), 'Propietat vertical']], 
          :as => :radio_buttons %>
      </fieldset>
    </div>

    <div class="row">
      <div class="medium-8 columns">
        <%= f.input :nom_titular %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :nif_titular %>
      </div>
    </div>

    <div class="row">
      <div class="medium-8 columns">
        <%= f.input :nom_representant %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :nif_representant %>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="identificacio-title">
      <span class="title"><%= t('.dades_tecnic') %></span>
    </div>
    
    <div class="row">
      <div class="medium-8 columns">
        <%= f.input :nom_tecnic %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :nif_tecnic %>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <%= f.input :titulacio_tecnic %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :colegi_tecnic %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :num_colegiat_tecnic %>
      </div>
    </div>
    
    <div class="spacer"></div>

    <div class="identificacio-title">
      <span class="title"><%= t('.resum_iite') %></span>
    </div>
    
    <div class="row">
      <div class="medium-8 columns">
        <%= f.input :codi_ite %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :data_emissio_ite %>
      </div>
    </div>

    <div class="row">
      <div class="medium-8 columns">
        <%= f.input :nom_redactor_ite %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :nif_redactor_ite %>
      </div>
    </div>
    
    <div class="row">
      <div class="medium-4 columns">
        <%= f.input :titulacio_redactor_ite %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :colegi_redactor_ite %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :num_colegiat_redactor_ite %>
      </div>
    </div>
    
    <div class="spacer"></div>

    <div class="identificacio-title">
      <span class="title"><%= t('.resum_certificat') %></span>
    </div>
    
    <div class="row">
      <div class="medium-8 columns">
        <%= f.input :num_expedient %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :vigencia_limit_certificat %>
      </div>
    </div>
    
    <div class="row">
      <fieldset class="medium-6 columns">
        <%= f.input :qualificacio_certificat, 
          :collection => [[t('.apte_cautelarment'), 'Apte cautelarment'], [t('.apte_provisionalment'), 'Apte provisionalment'], [t('.apte'), 'Apte']], 
          :as => :radio_buttons %>
      </fieldset>
      <div class="medium-6 columns">
        <%= f.input :data_primera_verificacio %>
        <%= f.input :data_recepcio_informe %>
        <%= f.input :termini_aprovacio_programa %>
      </div>
    </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.guardar'), :class => 'button button-right' %>
  </div>
<% end %>
