<p id="notice"><%= notice %></p>

<p>
  <strong>Edifici:</strong>
  <%= @identificacio.edifici_id %>
</p>

<p>
  <strong>Tipus via:</strong>
  <%= @identificacio.tipus_via %>
</p>

<p>
  <strong>Nom via:</strong>
  <%= @identificacio.nom_via %>
</p>

<p>
  <strong>Numero via:</strong>
  <%= @identificacio.numero_via %>
</p>

<p>
  <strong>Bloc:</strong>
  <%= @identificacio.bloc %>
</p>

<p>
  <strong>Codi postal:</strong>
  <%= @identificacio.codi_postal %>
</p>

<p>
  <strong>Poblacio:</strong>
  <%= @identificacio.poblacio %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @identificacio.provincia %>
</p>

<p>
  <strong>Regim juridic:</strong>
  <%= @identificacio.regim_juridic %>
</p>

<p>
  <strong>Nom titular:</strong>
  <%= @identificacio.nom_titular %>
</p>

<p>
  <strong>Nif titular:</strong>
  <%= @identificacio.nif_titular %>
</p>

<p>
  <strong>Nom representant:</strong>
  <%= @identificacio.nom_representant %>
</p>

<p>
  <strong>Nif representant:</strong>
  <%= @identificacio.nif_representant %>
</p>

<p>
  <strong>Nom tecnic:</strong>
  <%= @identificacio.nom_tecnic %>
</p>

<p>
  <strong>Nif tecnic:</strong>
  <%= @identificacio.nif_tecnic %>
</p>

<p>
  <strong>Titulacio tecnic:</strong>
  <%= @identificacio.titulacio_tecnic %>
</p>

<p>
  <strong>Colegi tecnic:</strong>
  <%= @identificacio.colegi_tecnic %>
</p>

<p>
  <strong>Num colegiat tecnic:</strong>
  <%= @identificacio.num_colegiat_tecnic %>
</p>

<p>
  <strong>Codi ite:</strong>
  <%= @identificacio.codi_ite %>
</p>

<p>
  <strong>Data emissio ite:</strong>
  <%= @identificacio.data_emissio_ite %>
</p>

<p>
  <strong>Nom redactor ite:</strong>
  <%= @identificacio.nom_redactor_ite %>
</p>

<p>
  <strong>Nif redactor ite:</strong>
  <%= @identificacio.nif_redactor_ite %>
</p>

<p>
  <strong>Titulacio redactor ite:</strong>
  <%= @identificacio.titulacio_redactor_ite %>
</p>

<p>
  <strong>Colegi redactor ite:</strong>
  <%= @identificacio.colegi_redactor_ite %>
</p>

<p>
  <strong>Num colegiat redactor ite:</strong>
  <%= @identificacio.num_colegiat_redactor_ite %>
</p>

<p>
  <strong>Num expedient:</strong>
  <%= @identificacio.num_expedient %>
</p>

<p>
  <strong>Vigencia limit certificat:</strong>
  <%= @identificacio.vigencia_limit_certificat %>
</p>

<p>
  <strong>Qualificacio certificat:</strong>
  <%= @identificacio.qualificacio_certificat %>
</p>

<%= link_to 'Edit', edit_identificacio_path(@identificacio) %> |
<%= link_to 'Back', identificacions_path %>
