<%= simple_form_for(@tresoreria) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :edifici_id %>
    <%= f.input :import %>
    <%= f.input :data_mes %>
    <%= f.input :data_any %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
