<% if @subnavigation == true %>
	<div class="sub-top-bar">
		<div class="header-submenu">
	  	<ul class="header-submenu-list">
	      <li class="header-submenu-item header-nom-edifici"><%= @edifici.nom_edifici %></li>
	  		<li class="header-submenu-item <% if @submenu_actiu == 'identificacio' %>
	            header-submenu-actiu
	            <% end %>"><%= link_to(t('.identificacio'), edit_identificacio_path(@edifici.identificacio.id), :class => 'header-submenu-link') %></li>
	      <li class="header-submenu-item <% if @submenu_actiu == 'deficiencies' %>
	            header-submenu-actiu
	            <% end %>"><%= link_to(t('.deficiencies'), edit_qualificacio_path(@edifici.qualificacio.id), :class => 'header-submenu-link') %></li>
	      <li class="header-submenu-item <% if @submenu_actiu == 'intervencions' %>
	            header-submenu-actiu
	            <% end %>"><%= link_to(t('.intervencions'), intervencions_path(edifici_id: @edifici.id), :class => 'header-submenu-link') %></li>
	      <li class="header-submenu-item <% if @submenu_actiu == 'fases' %>
	            header-submenu-actiu
	            <% end %>"><%= link_to(t('.fases'), fases_path(edifici_id: @edifici.id), :class => 'header-submenu-link') %></li>
	  	</ul>
    </div>
	</div>
<% end %>
